$gray: #BBBBBB;
$gray-middle: #DDD;

$green: #3CD174;
$green-dark: #32ad61;

$white: #FFFFFF;
$white-middle: #FCF5F500;
$white-light: #F9F2F8;


$black-def: #000000;
$black: #0D0F1B;
$black-dark: #0D0E1B;
$black-middle: #010101;
$black-light: #0B203F;
$black-62: #0000009E;

$box-shadow-links:rgba(255, 255, 255, 0.30);
$box-shadow-slide:rgba(0, 0, 0, 0.09);