@import "../../../assets/styles/variables/variables.scss";
@import "../../../assets/styles/mixins/mixins.scss";

.container{
    background-color: $white;
}

.wrapper{
   @include wrapper;
}

.features{
    min-width: 0;
    padding-top: 130px;
    text-align: center;

    &_title{
        @include text-h2;
        color: $black-def;
        margin-bottom: 100px;
    }
    &_description{
        display: flex;
        justify-content: center;
        gap: 54px;
    }
    &_steps{
        padding-left: 33px;
        display: flex;
        flex-direction: column;
        gap: 33px;

        &_content{
            position: relative;
            max-width: 459px;
            display: flex;
            
            flex-direction: column;
            gap: 16px;
            & > svg {
                position: absolute;
                width: 25px;
                height: 25px;
                left: -45.5px;
                top: 0;
            }
        }
        &_title{
            @include steps-title-text;
        }
        &_text{
            @include text-page;
            color: $black-def;
        }
    }
    &_phone{
        position: relative;
        &_bg{
            position: relative;
            top: -35px;
            z-index: 1;
        }
    }
}

.slider{
    max-width: 282px;
    width: 100%;
    position: absolute !important;
    top: -5px;
    right: 75px;
    // border-image: url(../../../assets/images/main/features/phone.png) 32 !important;
    &_slide{
        max-width: 282px;
    }
}

.slider{
    :global{
        .slick-dots{
            display: flex !important;
            gap: 4px;
            bottom: 0 !important;
            right: -50px;
    
            & > li {
                width: 8px !important;
                height: 8px !important;
                margin-inline: 0 !important;
            }
            & > li > button {
                width: 8px !important;
                height: 8px !important;
                border-radius: 50% !important;
            }
        }
        .slick-active > button{
            background: $green !important;
        }
        .slick-dots > li > button{
            background: $black-light;
        }
    }
}

.steps{
    :global{
        .ant-steps-item-title{
            @include steps-title-text;
        }
        .ant-steps-item-description{
            @include text-page;
            max-width: 459px;
            color: $black-def;
        }
        .ant-steps-item-container:hover{
            
            .ant-steps-item-title{
                color: inherit !important;
            }
            .ant-steps-item-description{
                color: inherit !important;
            }
        }
        .ant-steps-icon > svg{
            width: 25px;
            height: 25px;
        }
        // .ant-steps-item-active{
        //     .ant-steps-icon > svg{
        //         stroke: $green !important;
        //         fill: $green !important;
        //    }
        // }
        .ant-steps-item-finish{
           .ant-steps-item-tail::after{
            background-color: $green !important;
           }
        //    .ant-steps-icon > svg{
        //         stroke: $green !important;
        //         fill: $green !important;
        //    }
        }
    }
}