@import "../../../assets/styles/variables/variables.scss";
@import "../../../assets/styles/mixins/mixins.scss";

.container{
    background-color: $white;
}

.wrapper{
   @include wrapper;
}

.subscribe{
    position: relative;
    margin: 110px 130px;
    padding: 38px 131px 46px 411px;
    max-width: 963px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background-color: $black-dark;

    &_img{
        position: absolute;
        bottom: -1px;
        left: 64px;
        & > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }
    &_info{
        max-width: 421px;
        width: 100%;

        &_title{
            @include form-title-text;
        }
        &_text{
            @include text-page;
            margin-bottom: 15px;
        }
    }
    &_form{
        display: flex;
        align-items: center;
        
        &_input{
            @include form-input-subscribe;
        }
        &_btn{
            @include form-submit-btn;
        }
    }
}